{
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "all",
  "plugins": ["prettier-plugin-tailwindcss"],
  "pluginSearchDirs": false,
  "tailwindConfig": "./packages/ui/tailwind.config.js",
  "tailwindSortFunctions": "clsx,classNames,cx,cva"
}
